.ContactCard {
  @include card();
  position: relative;
  padding: 3rem;

  h3 {
    margin-bottom: 2rem;
    font-weight: 500;
  }

  &__info {
    @include flex(column, null, center);
    padding: 1rem 0;

    section {
      @include flex(column);

      div {
        @include prependIconText($contrast-secondary);
      }
    }

    a {
      @include btn($bgColor: $contrast-primary);
      display: inline-block;
      margin-top: 2rem;

      @include desktop {
        margin-top: 0;
      }
    }
  }

  @include desktop {
    &__info {
      @include flex(row, space-around, center);

      a {
        margin-top: 0;
      }
    }
  }
}