.Header {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  padding: 1rem 2rem;
  color: $color-primary;
  background-color: $color-secondary;
  box-shadow: 0 4px 8px $shadow-3;
  z-index: 9;

  &__navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .8rem;

    ul {
      display: none;
      gap: 1rem;

      li {
        position: relative;
        font-weight: 300;

        a {
          color: $color-primary;
          font-size: 1.6rem;
          padding: 2rem;
          border-radius: 2rem;

          &:hover {
            background-color: $shadow;
          }
        }

        .linkActive {
          font-weight: 700;
          background-color: $shadow;
        }
      }

      @include desktop {
        @include flex(row);
      }
    }

    button {
      width: 3.6rem;
      height: 3.6rem;
      background: transparent;

      svg {
        color: $color-primary;
      }

      &:hover {
        border-radius: 50%;
        background-color: $shadow;
      }
    }
  }

  @include tablet {
    padding: 1rem 5rem;
  }

  @include desktop {
    height: 100px;
    background-color: transparent;
    box-shadow: none;

    &__navbar {
      justify-content: space-around;
      background-color: $color-secondary;
      box-shadow: 0 0 8px $shadow-3;

      button {
        display: none;
      }
    }
  }

  @include desktopLg {
    padding: 1rem 10rem;
  }
}