.Header {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  padding: 1rem 2rem;
  color: $color-primary;
  background-color: $color-secondary;
  box-shadow: 0 4px 8px $shadow-3;
  z-index: 9;

  &__navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .8rem;

    ul {
      display: none;
      gap: 1.6rem;

      li {
        position: relative;
        font-weight: 300;
        @include linkHover(-2px);

        a {
          color: $color-primary;
          font-size: 1.6rem;
        }

        .linkActive {
          font-weight: 500;
          border-bottom: 2px solid $contrast-secondary;
        }
      }

      @include tablet {
        @include flex(row);
      }

      @include desktop {
        gap: 3rem;
      }
    }

    button {
      width: 3.6rem;
      height: 3.6rem;
      background: transparent;

      svg {
        color: $color-primary;
      }

      &:hover {
        border-radius: 50%;
        background-color: $shadow;
      }

      @include tablet {
        display: none;
      }
    }

    @include tablet {
      justify-content: space-around;
    }
  }

  @include tablet {
    height: 100px;
    padding: 1rem 5rem;
    background-color: transparent;
    box-shadow: none;

    &__navbar {
      background-color: $color-secondary;
      box-shadow: 0 0 8px $shadow-3;
    }
  }

  @include desktop {
    padding: 1rem 8rem;
  }
}