.Container {
  .categoryDescription {
    margin-bottom: 1rem;
  }
}

.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  place-content: center;
  gap: 2rem;
  padding: 2rem 0;

  &__item {
    @include itemGridCard();
  }

  @include tablet {
    gap: 4rem;
  }

  @include desktop {}
}