.Contact {
  &__card {
    @include card();
    position: relative;
    padding: 3rem;

    h3 {
      margin-bottom: 2rem;
      font-weight: 500;
    }
  }

  &__contactUs {
    @include flex(column, null, center);
    padding: 1rem 0;

    section {
      @include flex(column);

      div {
        @include prependIconText($contrast-secondary);
      }
    }

    a {
      @include btn($bgColor: $contrast-primary);
      display: inline-block;
      margin-top: 2rem;

      @include desktop {
        margin-top: 0;
      }
    }
  }

  &__form {
    @include flex(column, $align: center);
    padding: 1rem 0;

    h3 {
      margin: 3rem 0;
      font-weight: 500;
      align-self: start;
    }
  }

  @include desktop {
    &__contactUs {
      @include flex(row, space-around, center);

      a {
        margin-top: 0;
      }
    }
  }
}