.Container {
  width: 100%;
  @include flex(row, space-between);
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 2rem;

  svg {
    cursor: pointer;
  }

  @include mobileLg {
    padding: 0 4rem;
  }

  @include tablet {
    svg {
      display: none;
    }
  }
}