.ContactUs {
  h3 {
    font-weight: 400;
  }

  &__info {
    padding: 3rem 0;

    &__text {
      @include flex(column);
      gap: .8rem;

      .phone {
        @include flex($align: center);
        @include prependIconText();

        div {
          @include flex(column);
          gap: .5rem;
        }
      }

      .email,
      .location {
        @include prependIconText();
      }
    }

    &__logo {
      width: 350px;
      height: 350px;
      display: none;
    }

    @include desktop {
      @include flex(row, center, center);

      &__text {
        gap: 3rem;
      }

      &__logo {
        display: block;
      }
    }
  }

  &__form {
    @include flex($justify: center);
    padding: 3rem 0;
  }
}