.Header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 1rem 3rem;
  color: $color-primary;
  background-color: $color-secondary;
  box-shadow: 0 4px 8px $shadow-3;
  z-index: 9;

  &__navbar {
    height: 100%;
    @include flex(row, space-between, center);
    border-radius: .8rem;

    &__logo {
      @include flex($align: center);
      height: 100%;

      img {
        height: 100%;
        width: auto;
      }
    }

    ul {
      display: none;
      gap: 1rem;

      li {
        position: relative;
        font-weight: 400;

        a {
          color: $color-primary;
          font-size: 1.6rem;
          padding: 2rem;
          border-radius: 2rem;
          @include linkUnderline($width: 80%);
        }

        .linkActive {
          @include linkUnderline(1, 80%);
          font-weight: 700;
          background-color: $shadow-3;
        }
      }
    }

    button {
      width: 3.6rem;
      height: 3.6rem;
      background: transparent;

      svg {
        color: $color-primary;
      }

      &:hover {
        border-radius: 50%;
        background-color: $shadow;
      }
    }
  }

  @include tablet {
    padding: 1rem 5rem;
  }

  @include desktop {
    height: 100px;
    background-color: transparent;
    box-shadow: none;

    &__navbar {
      justify-content: space-evenly;
      background-color: $color-secondary;
      box-shadow: 0 0 8px $shadow-3;

      &__logo {
        img {
          height: 80%;
        }
      }

      ul {
        @include flex(row);
      }

      button {
        display: none;
      }
    }
  }

  @include desktopLg {
    padding: 1rem 12rem;

    &__navbar {
      justify-content: space-around;
    }
  }
}