.Form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 100%;
  max-width: 700px;

  &__inputGroup {
    @include flex(column);
    width: 100%;
    margin-bottom: 1.6rem;
    @include input();
  }

  &__textArea {
    grid-column: 1 / -1;
    @include flex(column);
    width: 100%;
    margin-bottom: 1.6rem;
    @include input();
  }

  .invalid {
    border: 1px solid $contrast-primary !important;
  }

  .errorMsg {
    color: $contrast-primary;
    padding: .2rem 0 0 .4rem;
  }

  &__button {
    @include btn();
    @include flex(row, center, center);
    grid-column: 1 / -1;
    margin: auto;
    max-height: 4rem;
    padding: 2rem;

    &:not([disabled]):active {
      transform: scale(0.95);
    }

    &:disabled {
      color: $color-primary;
      background-color: #808080;
      outline: none;
      cursor: default;
    }
  }

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    gap: 1rem 4rem;
    margin: 0 6rem;
  }

}