@mixin mobileLg {
  @media (min-width: 500px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktopLg {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin flex($direction: row, $justify: null, $align: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin btn ($maxWidth: 250px, $bgColor: $contrast-secondary) {
  width: 100%;
  max-width: $maxWidth;
  padding: 1.2rem 2rem;
  text-align: center;
  color: $color-primary;
  background-color: $bgColor;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: .3rem;
  transition: background-color .2s ease;

  &:hover {
    background-color: transparent;
    color: $bgColor;
    outline: 2px solid $bgColor;
  }
}

@mixin card {
  position: relative;
  min-height: 200px;
  min-width: 200px;
  padding: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: $text-color-soft;
  background-color: #f8f7fd;
  border-radius: .3rem;
  box-shadow: 0 2px 4px $shadow;
}

@mixin itemGridCard {
  @include flex(column);
  gap: .4rem;
  @include card();
  text-transform: capitalize;
  width: 100%;
  height: 100%;
  max-height: 300px;
  aspect-ratio: 0.8;

  p {
    @include flex(column, $justify: center);
    height: 30%;
    font-weight: 600;
  }

  img {
    display: block;
    margin: auto;
    width: 70%;
    max-width: 160px;
    height: auto;
    object-fit: cover;
  }

  a {
    @include btn(180px, $contrast-primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .5s ease;
  }

  &:hover {
    img {
      opacity: 0.4;
    }

    a {
      opacity: 1;
    }
  }
}

@mixin input {
  label {
    margin-bottom: .4rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: $text-color-soft;

    span {
      color: $contrast-primary;
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 1.2rem;
    background-color: transparent;
    border: 1px solid $text-color-soft;
    border-radius: .5rem;

    &:hover,
    &:focus {
      border: 1px solid #669bbc;
    }
  }
}

@mixin linkUnderline($scale: 0, $width: 100%) {
  &::after {
    content: '';
    position: absolute;
    left: calc((100% - $width) / 2);
    bottom: -.2rem;
    width: $width;
    height: 2px;
    background-color: $contrast-secondary;
    transform: scaleX($scale);
    transform-origin: left;
    transition: transform 250ms ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

@mixin prependIconText($iconColor: null) {
  @include flex(row, $align: center);
  gap: .5rem;
  margin: 1rem 0;
  font-size: 1.4rem;
  font-weight: 400;

  svg {
    min-width: 18px;
    color: $iconColor;
  }

  @include tablet() {
    font-size: 1.6rem;
  }
}