@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin flex($direction: row, $justify: null, $align: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin btn ($maxWidth: 250px, $bgColor) {
  width: 80%;
  max-width: $maxWidth;
  padding: 1.2rem 2rem;
  text-align: center;
  color: $color-primary;
  background-color: $bgColor;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: .3rem;
}

@mixin card {
  position: relative;
  min-height: 200px;
  min-width: 200px;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: $text-color-soft;
  background-color: #f8f7fd;
  border-radius: .3rem;
  box-shadow: 0 2px 4px $shadow;
}

@mixin input {
  label {
    margin-bottom: .4rem;
    font-weight: 400;
  }

  input,
  textarea {
    width: 100%;
    padding: 1.2rem;
    background-color: transparent;
    border: 1px solid $text-color-soft;
    border-radius: .5rem;

    &:hover,
    &:focus {
      border: 1px solid #669bbc;
    }
  }
}

@mixin linkHover($bottom: 0) {
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: $bottom;
    width: 100%;
    height: 2px;
    background-color: $contrast-secondary;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}