$color-primary: #e4e1f6;
$color-secondary: #333333;
$text-color: #303030;
$text-color-soft: #606060;
$gradient: linear-gradient(270deg, #0066b0, #ef4034);
$contrast-primary: #ef4034;
$contrast-secondary: #0066b0;
$shadow: rgba(0, 0, 0, 0.1);
$shadow-3: rgba(0, 0, 0, 0.3);