$color-primary: #e4e1f6;
$color-secondary: #13111a;
$border-color: #302c3f;
$text-color: #303030;
$gradient: linear-gradient(270deg, #669bbc, #c1121f);
$main-contrast: #c1121f;
$shadow: rgba(0, 0, 0, 0.1);