@import 'variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $contrast-secondary;
  color: $text-color;
}

html {
  font-size: 62.5%;
}

main {
  position: relative;
  min-height: 100vh;
  padding-bottom: 2rem;
  background: $color-primary;
  box-shadow: 10px 0 15px -5px $shadow, -10px 0 15px -5px $shadow;

  &>section:not(:first-child) {
    padding: 2rem;

    @include mobileLg {
      padding: 2rem 4rem;
    }
  }

  @include desktop {
    margin: 0 6rem;
  }
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input,
textarea {
  outline: none;
  color: $text-color;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text-color;
}

h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 400;

  @include mobileLg {
    font-size: 3rem;
  }
}

p,
a {
  font-size: 1.4rem;
  line-height: 2.0rem;

  @include desktop {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}