@import 'variables.scss';

body {
  margin: 0;
  padding: 0;
  background: $color-primary;
  color: $text-color;
}

html {
  font-size: 62.5%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}